*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    font-family: "Inter", sans-serif;
}
/* navbar starts here */
.navbar{
    max-width: 1600px;
    height: 92px;
    padding: 16px 200px;
    margin: 0 auto;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1A0B2E;
    border-bottom:  1px solid rgba(65, 37, 103, 1);
}
.navbar img{
    width: 219px;
    height: 32px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0 314px;
}
.nav-links a{
    text-decoration: none;
    color: #FFFFFF;
}
.my-btn{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    width:150px;
    height: 44px;
    gap: 4px;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 100000px;
    border: none;
    font-size: 1rem;
    color: #FFFFFF; 
}
.hamberger{
    display:none;
}
/* navbar ends here */

/* banner section starts here */
.banner-section{
    width: 100%;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-section .rounded-mic-parent{
    margin-bottom: 40px;
    position: relative;

}
.banner-section .rounded-mic-parent .rounded-shape{
    width: 350px;
    height: auto;
}
@keyframes micro-phone {
    0%{
        transform:translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(-360deg);
    } 
}
.banner-section .rounded-mic-parent .mic{
    width: 120px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: micro-phone 3s ease-in-out 1s infinite  ;
}
.banner-section .rounded-mic-parent span{
    background-color: #00FF88;
    color: black;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 257px;
    top: 15px;
}
.banner-content{
    text-align: center;
    max-width: 1600px; 
    margin: auto; 
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.text-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.btn-primary{
    gap: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
}
.listen{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
    width: 201px;
    height: 44px;
    border: none;
    color: #FFFFFF;
    border-radius: 10000px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}
.subscribe{
    width: 147px;
    height: 44px;
    border-radius: 10000px;
    background: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 1px solid #00FF88;
    color: #00FF88;
}
/* banner section ends here */
/* podcust section starts here */

.about-section{
    background-color:#19092f ;
    color: #FFFFFF;
    height: 646px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0 200px; 
}
.about-podcust h2{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 16px;
}
.about-podcust p{
    font-size:1rem ;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.6;
}
.join-text{
    font-size: 1rem;
    font-weight: 400;
}
hr{
    border: none;
    height: 1px;
    background-color: rgba(65, 37, 103, 1);
    width: 80%;
    margin: 40px auto;
}
.podcust-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 0 auto;
    padding: 40px 20px;
    width: 100%;
    max-width: 1200px;
}
.podcust-card-container > div {
    text-align: center;
    width: 100%;
}
.podcust-card h3{
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
    margin-bottom: 16px;
    width: 100%;
}
.podcust-card h5{
    font-size: 1rem;
    font-weight: 400;
}
/* podcust section ends here */
/* why choose techwave section starts here */
.why-choose-techwave-section{
    background-color: #230E3D;
    color: #FFFFFF;
    height: 1121px;
}
.techwave-heading{
    text-align: center;
    padding-top: 120px; 
    margin-bottom: 30px;

} 
.techwave-heading h2{
    font-size: 3rem;
    font-weight: 700;
}
.techwave-box-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 225px) 273px; 
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.techwave-box-parent .techwave-box:nth-child(1){
    grid-row: span 2;  
}
.techwave-box-parent .techwave-box:nth-child(2),
.techwave-box-parent .techwave-box:nth-child(3),
.techwave-box-parent .techwave-box:nth-child(4){
    grid-column: span 2;  
}

.techwave-box-parent .techwave-box:nth-child(5){
    grid-column: span 1; 
}
.techwave-box{
    background-color:#29104a;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 40px;
    justify-content: center;
}
.techwave-box h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 21px;
    margin-bottom: 16px;
}
.techwave-box p{
    font-size: 1rem;
    font-weight: 400;
    color: #c1b4b4;
    line-height: 1.5;
}
/* why choose techwave section ends here */
/* featured section starts here */
.featured-section{
    background-color: #1A0B2E;
    height: 1276px;
    color: #FFFFFF; 
    text-align: center; 
    padding-top: 120px;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
}
.episode{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto 0;
}
.episodes-card{
    background-color: #29104a;
    width: 380px;
    border-radius: 20px;
    height: auto;
}
.episodes-card iframe{
    height: 214px;
    width: 340px;
    width: 100%;
}
.card-details{
    padding:30px 25px ;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.card-details h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}
.card-details p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 12px;
    color: #c1b4b4;
    line-height: 1.5;
}
.card-details h5{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    display: inline-flex;
    gap: 5px;
}







/* featured section end here */